body {
	background: lightblue;
	font-family: "Roboto", helvetica, sans-serif;
	/*sets top>left-right>bottom padding w/these 3 vals...*/
	padding: 60px 0 0;
	margin: 0;
	font-synthesis: 18px;
}

/*all items in body...*/
body * {
	box-sizing: border-box;
}

/*override the default styles for fieldset...*/
fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

.logo {
	display: block;
	width: auto;
	height: 35px;
	margin: 0 auto 30px;
}

.signUpForm {
	background: white;
	width: 400px;
	margin: 0 auto;
	padding: 40px;
	border-radius: 3px;
}

.signUpForm legend {
	width: 100%
	line-height: 30px;
	font-size: 35px;
	font-weight: 300px;
	color: #565656;
	text-align: center;
	letter-spacing: 0;
	margin: 0 auto 45px;
}

.signUpForm input,
.signUpForm label {
	display: block;
	/*color: white;*/
	width: 320px;
	height: 55px;
	/*border-style: solid 2px gray;*/
	padding: 15px
}

input[type="email"],
input[type="password"],
button[type="signup"] {
	display: block;
	width: 100%;
	height: auto;
	font-size: 18px;
	text-align: left;
	padding: 15px;
	border: 2px solid #e7e7e7;
	border-radius: 3px;
	background: #fcfcfc;
	margin: 10px auto 20px;
	transition: opacity 0.4s;
}

button[type="signup"] {
	height: auto;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	color: white;
	background: green;
	border: 0;
	cursor: pointer;
	margin-bottom: 0;
}

.footer {
	text-align: center;
	color: white;
	margin: 20px auto;
}

.footer a {
	color: white;
	text-decoration: none;
}

.signUpForm a {
	color: green;
	text-align: center;
	display: block;
	margin: 20px;
	/*margin: 20px;*/
}

